node_modules/
www/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/keystore.properties
android/app/*.keystore
android/app/*.jks
android/capacitor-cordova-android-plugins/build/
.DS_Store
*.apk
